<html>
<head>
  <title>{{title}}</title>
  <link crossorigin="anonymous" href="/application.css" media="all" rel="stylesheet" />
</head>
<body>
  {{{contents}}}
  <script src="/application.umd.js"></script>
</body>
</html>
