<html>
<head>
  <title>{{title}}</title>
  <link crossorigin="anonymous" href="/app.css" media="all" rel="stylesheet" />
</head>
<body>
  {{{contents}}}

  {{> footer}}
  <script src="/app.umd.js"></script>
</body>
</html>
